body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.new{
  font-family: Georgia, Geneva, sans-serif;
font-size: 25px;
letter-spacing: -1px;
word-spacing: -0.8px;
color: #595959;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
